.NavContainer{
	position: fixed;
	bottom: 1%;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.Nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.Nav a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.Nav a h4{
	color: darkkhaki;
	opacity: 50%;
	padding-top: 5px;
}

.Icon{
	font-size: 24px;
	color: rgba(220,20,60,0.75);
	;
}

.Icon:hover{
	color: burlywood;
}

.active{
	color: white;
	opacity: 10%;
}


.Nav a .Active{
	color: burlywood;
	opacity: 10%;
}