.container{
	width: 90%;
	margin: 10px auto;
}

.container p{
	font-family: Verdana, Geneva, Tahoma, sans-serif
	;
	white-space:pre-line;
	color:honeydew;
	opacity: 80%;
	line-height: 1.6;
	text-align: left;
	font-family: 'Fira Code';
}