.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.container h2 {
  font-size: 10px;
  color: crimson;
  align-self: center;
  color: transparent;
  background: linear-gradient(white, crimson);
  background-clip: text;
}

.container h2 .time {
  opacity: 50%;
  font-style: italic;
  color: crimson;
}

.container h2 .day {
  color: whitesmoke;
}
